@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Quicksand";
  src: url("../../public/fonts/Quicksand-VariableFont_wght.ttf")
    format("truetype");
  /* Add more formats if needed (e.g., .otf, .woff, .woff2) */
}
body {
  font-family: "Quicksand", arial, serif;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.4;
  background-color: #f2f6fe;
}
